/* In this project I will use separate CSS styles for each HTML for better overview
because I am a beginner in this and it is easier for me to work this way. In my next projects, when I'm more sure of myself
I will do everything in one CSS style */

body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  height: 100vh;
}

.body-contact-bacground {
  background: url("../images/white-caffee-blur.jpg") no-repeat center center/cover;
}

.body-home-bacground {
  background: url("../images/whats-your-story.jpg") no-repeat center center/cover;
}

.body-menu-bacground {
  background: url("../images/coffe-beans.jpg") no-repeat center center/cover;
}

/* Title styles */
h1 {
  padding : 20px;
  font-size: 50px;
  text-align: center;
  color:#ffffff;
}

h2 {
  padding : 20px;
  font-size: 25px;
  text-align: center;
  color:#ffffff;
}
   
/* Content styles */
.container { 
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  }
  
.column {
  flex: 1;
  margin-right: 10px; 
}
  
/* Formular bar styles*/
.formular {
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
  margin-top:  0;
}
  
form label, form input {
  left:20%;
  display: block;
  margin-bottom: 8px;     
}
  
  form input {
    width: 330px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
/*Submit button*/
  form input[type="submit"] {
    background-color:#deb887;
    color: #ffffff;
    cursor: pointer;
    border-radius: 15px;
}

/*Paragraph styles*/
  p { 
    line-height: 1.5;
    margin-top: 10px;
    padding:2px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align:center;
    color: #ffffff;
  }
  
/*Navigation bar and links styling*/
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin: 0 100px; 
  }
  
  nav ul li a {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Times New Roman';
    text-decoration: none;
    color: #ffffff;
  }

  ul li a:hover{
    color: #deb887;
}
  
    /* Footer styling*/
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: #deb887;
    color: #ffffff;
  }
  
  footer a { 
    color:#ffffff;
  }
  
  footer a:hover { 
    padding-left: 10px;
  }
  
  #nav a:link {
    text-decoration:none;
    font-weight:bold;
  }
  
  /* Responsivness*/
  @media only screen and (max-width: 768px) {   
   .container {
    flex-direction: column;
    margin:0;
  }    
    p {
      font-size: 14px;
      }
        
  
    .column { 
      margin :0;
    }
  
    h1 {
      font-size: 30px;
      margin-top: 20px;
      margin-left: 20px;
    }

    h2 {
      padding : 0px;
      font-size: 15px;
      text-align: center;
      color:#ffffff;
    }
    
      nav ul li {
      margin: 0 10px; 
    }
          
    nav ul li a { 
    display: flex ;
    font-size: 0.8em;
  }
  
    footer { 
    position:fixed;
    font-size:13px;}
    }