/* In this project I will use separate CSS styles for each HTML for better overview
because I am a beginner in this and it is easier for me to work this way. In my next projects, when I'm more sure of myself
I will do everything in one CSS style */

/* Wildcard override */
*{
    padding: 0;
    margin: 0;
}

/* Main page background */
.main{
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.2)50%, rgba(0,0,0,0.2)50%), url("../images/coffe-beans.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* Nav-bar style */
.navbar{
    width: 1600px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

/* Logo style */
.logo{
    color: #fff;
    font-size: 45px;
    font-family: 'Times New Roman';
    padding-left: 30px;
    float: left;
    padding-top: 20px;
}

/* Nav-bar style */
.menu{
    width: 700px;
    float: left;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Menu font position */
ul li{
    list-style: none;
    margin-top: 45px;
    margin-left: 172px;
    font-size: 18px;
}
/* Menu font style */
ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Times New Roman';
}

ul li a:hover{
    color: burlywood;
}

/* Title on mein page */
.title {
    position: absolute;
    top: 55%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 85px;
    -webkit-text-stroke: 1px burlywood;
    color: transparent;
    background-image: linear-gradient(burlywood);
    background-repeat: no-repeat;
    background-position: -900px 0;
}
/* Footer-style*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: burlywood;
    color: black;
    font-size: 12px;
}

.social-net {
    text-align: left;
}

.social-net {
    display: inline;
}

.social-net i {
    font-size: 60%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}
