/* Wildcard override */
*{
    padding: 0;
    margin: 0;
}

/* Main page background */
.main{
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.2)50%, rgba(0,0,0,0.2)50%), url("../images/white-cup.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* Nav-bar style */
.navbar{
    width: 1600px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

/* Logo style */
.logo{
    color: #fff;
    font-size: 45px;
    font-family: 'Times New Roman';
    padding-left: 30px;
    float: left;
    padding-top: 20px;
}

/* Nav-bar style */
.menu{
    width: 700px;
    float: left;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Menu font position */
ul li{
    list-style: none;
    margin-top: 45px;
    margin-left: 172px;
    font-size: 18px;
}
/* Menu font style */
ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Times New Roman';
}

ul li a:hover{
    color: burlywood;
}

/* Menu-title, text and description */
.menu-title {
    position: absolute;
    top: 17%;
    left: 17%;
    transform: translate(-50%, -50%);
    font-size: 85px;
    -webkit-text-stroke: 2px burlywood;
    color: transparent;
}

.menu-text {
    position: absolute;
    top: 25%;
    left: 17%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    -webkit-text-stroke: 2px burlywood;
    color: transparent;
}

.description {
    position: absolute;
    top: 25%;
    left: 37%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    -webkit-text-stroke: 2px burlywood;
    color: transparent;
}

.menu-text1 {
    position: absolute;
    top: 29%;
    left: 17%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    -webkit-text-stroke: 2px burlywood;
    color: transparent;
}

.description1 {
    position: absolute;
    top: 29%;
    left: 37%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    -webkit-text-stroke: 2px burlywood;
    color: transparent;
}

.menu-text2 {
    position: absolute;
    top: 33%;
    left: 17%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    -webkit-text-stroke: 2px burlywood;
    color: transparent;
}

.description2 {
    position: absolute;
    top: 33%;
    left: 37%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    -webkit-text-stroke: 2px burlywood;
    color: transparent;
}

.menu-text3 {
    position: absolute;
    top: 37%;
    left: 17%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    -webkit-text-stroke: 2px burlywood;
    color: transparent;
}

.description3 {
    position: absolute;
    top: 37%;
    left: 37%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    -webkit-text-stroke: 2px burlywood;
    color: transparent;
}

.menu-text4 {
    position: absolute;
    top: 41%;
    left: 17%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    -webkit-text-stroke: 2px burlywood;
    color: transparent;
}

.description4 {
    position: absolute;
    top: 41%;
    left: 37%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    -webkit-text-stroke: 2px burlywood;
    color: transparent;
}

.menu-text5 {
    position: absolute;
    top: 45%;
    left: 17%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    -webkit-text-stroke: 2px burlywood;
    color: transparent;
}

.description5 {
    position: absolute;
    top: 45%;
    left: 37%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    -webkit-text-stroke: 2px burlywood;
    color: transparent;
}

.menu-text6 {
    position: absolute;
    top: 49%;
    left: 17%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    -webkit-text-stroke: 2px burlywood;
    color: transparent;
}

.description6 {
    position: absolute;
    top: 49%;
    left: 37%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    -webkit-text-stroke: 2px burlywood;
    color: transparent;
}

/* Footer-style*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: burlywood;
    color: black;
    font-size: 12px;
}

.social-net {
    text-align: left;
}

.social-net {
    display: inline;
}

.social-net i {
    font-size: 60%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}