/* In this project I will use separate CSS styles for each HTML for better overview
because I am a beginner in this and it is easier for me to work this way. In my next projects, when I'm more sure of myself
I will do everything in one CSS style */

*{
    padding: 0;
    margin: 0;
}

/* Main page background */
.main{
    width: 100%;
    height: 100vh;
    background: url("../images/coffe-beans.jpg") no-repeat center center/cover;
    background-position: center;
    background-size: cover;
}

/* Nav-bar style */
.navbar{
    width: 1200px;
    margin: 0;
  }

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

/* Logo style */
.logo{
    color: #fff;
    font-size: 45px;
    font-family: 'Times New Roman';
    padding-left: 30px;
    float: left;
    padding-top: 20px;
}

/* Nav-bar style */
.menu{
    width: 700px;
    float: left;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Menu font position */
ul li{
    list-style: none;
    margin-top: 45px;
    margin-left: 172px;
    font-size: 18px;
}
/* Menu font style */
ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Times New Roman';
}

ul li a:hover{
    color: #deb887;
}

/* Menu-title, text and description */
 .menu-box {
    display: flex;
    max-width: 40%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px;
       
}

.col-st {
    font-family: 'Times New Roman', Times, serif;
    margin-left: -900px;
    margin-top: 160px;
    padding: 80px;
    overflow:hidden;
    background-color: rgba(255, 255, 255, 0.678);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    box-shadow:  #808080 4px 4px 2px;
    
}

.col-st h2 { 
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 20px;
    color: #000000;
}

h1 { 
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

/* Footer-style*/
footer {
    position: absolute;
    bottom: 15;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: #deb887;
    color: #ffffff;

}

.social-net {
    text-align: left;
}

.social-net {
    display: inline;
}

.social-net i {
    font-size: 60%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}
/* Responsivness*/
@media only screen and (max-width: 768px) {  
    
    .main{
        display: block;
        width: 100%;
        padding: 30px;  
    }
    .navbar{
        width: 700px;
        margin: 0;
      }

      .menu-box {
        display: flex;
        max-width: 40%;
           
    }
    
    .col-st {
        width: 100%;
        padding: 30px;
        
    }
    
    .col-st h2 { 
        font-family: sans-serif;
        line-height: 1.6;
        font-size: 20px;
        color: #000000;
    }
    
    h1 { 
        font-size: 50px;
        font-weight: bold;
        text-align: center;
    }
   
footer { 
    position:relative;
    font-size:13px;}
 }